<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sparrow</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
      </ul>
    </div>
  </nav>
<div *ngIf="selectedObj">
<app-expense [selectedObj]="expenseObj[0]" (update)="callUpdate($event)"></app-expense>
</div>
<router-outlet></router-outlet>
