<div class="container-fluid" style="padding-top: 40px">
<div class="row">
<div class="col-sm-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Remaining</div>
    <div class="panel-body">
          {{selectedObj.data.total}}
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Spent <span class="glyphicon glyphicon-plus pull-right" (click)="openModal()"></span></div>
    <div class="panel-body">
            <ul class="list-group list-group-flush">
              <a *ngFor="let spent of selectedObj.data.spent" class="list-group-item" (click)="loadDetails(spent)">{{spent.amount}} - {{spent.category}}</a>
            </ul>
    </div>
  </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
          <div *ngIf="detailTrue">
            <p>Amount Spent : {{amountSpent}}</p><br>
            <p>Category : {{category}}</p><br>
            <p>Details Given : {{detail}}</p>
          </div>
        </div>
      </div>
</div>
</div>
</div>
<app-modal [showModal]="showModal" [selectedObj]="selectedObj" (updateEvent)="callUpdate()"></app-modal>