<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sparrow</a>
    </div>
  </div>
</nav>
<div class="container-fluid" style="padding-top: 40px">
<div class="row">
<div class="col-sm-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Remaining</div>
    <div class="panel-body">
          50,000
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Spent</div>
    <div class="panel-body">
            <ul class="list-group list-group-flush">
              <a class="list-group-item">5000</a>
              <a class="list-group-item">6000</a>
              <a class="list-group-item">7000</a>
            </ul>
    </div>
  </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
        </div>
      </div>
</div>
</div>
</div>
